.wrapper{
  width: 100%;
  max-width: 150vmin;
  margin: auto;
  border:5px solid red;
}
.inner-wrapper{
  padding-top: calc(calc(9/16)*100%);
  position: relative;
}
.image{
  display: block;
  width: 100%;
  height: 100%;
  
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  object-fit: cover;
}
/* @media () */