.main-info > h2 {
  color: tomato;
  font-family: Lato;
  font-size: 2rem;
  border-bottom: 5px dotted teal;
}

/* @media screen and (max-width:576px){
  .main-info > h2{
    border-bottom: 5px dotted teal;
  }
} */
@media (min-width:576px){
  .main-info > h2{
    border-bottom: none;
    border-top: 5px dotted teal;
  }
}

@media (min-width:768px){
  .main-info > h2{
    border-top: none;
    border-right: 5px dotted teal;
  }
}


/*
(320 : 576)   Extra small   
[576 : 768)	  Small
[768 : 992)	  Medium
[992 : 1200)	Large
[1200: infinity)	Extra large
*/